{{ define "main" }}
			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2 id="json.graphql.user.full_name">{{ if .Draft }}DRAFT: {{end}}{{ .Params.title }}</h2>
						<p id="json.graphql.user.biography"></p>
					</header>
					<div class="box">
						{{ with .Params.images }}
							<span>
								<img id="json.graphql.user.profile_pic_url_hd" class="instaAva image featured" src="" alt="моя фотка из инсты"></span>
						{{ end }}
						{{ .Content }}
						{{ if or .Params.tags .Params.date }}
							<hr />
							<div id="meta">
							{{ with .Params.tags }}
								<p>Тэги:
									{{ range $index, $key:= . }}
										{{ if $index }}, {{ end }}
										{{ if gt (len $key) 0 }}
								  		<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
										{{ end }} {{/* if gt len */}}
									{{ end }} {{/* range */}}
							  </p>
							{{ end }} {{/* if tags */}}
							{{ with .Params.date }}<p class="meta">Дата: {{ . | dateFormat "January 2, 2006"}}</p>{{ end }}
							</div>
						{{ end }} {{/* if meta */}}
					</div>
				</section>
				<script>
				let username = "{{ .Params.instagram_acc }}"
				let userurl = "temp1"
				function injector (id,text){
					document.getElementById(id).innerText = text
				}
				async function init(data) {
					var url = "https://www.instagram.com/"+username+"/?__a=1";
					let response = await fetch(url);
                    if (response.ok) { 
					let json = await response.json();
					  injector("json.graphql.user.biography", json.graphql.user.biography)
					  injector("json.graphql.user.full_name", json.graphql.user.full_name)
					  document.getElementById("json.graphql.user.profile_pic_url_hd").src = json.graphql.user.profile_pic_url_hd
                    } else {
                    alert("Ошибка HTTP: " + response.status);
					}
				}
				init();
				</script>
{{ end }}
